.collaborate{
  background-color:yellow;
  width: auto;
  height: 70vh;
  padding-top: 0px;
  margin-top: 0px;
}
.message{
  position: absolute;
  width: 50%;
  background-color: #F8BBBB;
  height: 100%;
}
.partition{
position: absolute;
right : 0px;
width:50%;
background-color:#F8BBBB;
height: 100%;
}
.mixer{
  background-color:#F8BBBB;
  border-style: solid;
  border-color: #F8BBBB #F8BBBB black #F8BBBB;
}
 .form1{
background-color:#F8BBBB;
top : 100px;
width : 50%;
position: absolute;
}
