.home{
  background-image: url("../icons/bg-pic.png");
  width: auto;
  height: 100vh;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#home1 {
  position: relative;
  text-align: center;
  color:white;
  top: 156px;
  font-size: 55px;
  left: 320px;
  margin: 0px;
}

#home2 {
position: relative;
text-align: center;
color:white;
top: 140px;
font-size: 75px;
 left: 320px;
 margin: 0px;
}

#home3 {
position: relative;
text-align: center;
color:white;
top: 130px;
font-size: 30px;
left: 300px;
margin: 0px;
}