.Home{
  background-image: url("../icons/bg-pic.png");
  width: auto;
  height: 100vh;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
a{
	color:initial;
}

#logo{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 64px;
  height:64px;
}

.RightMenu{
	position: fixed;
	top:0px;
	right:0px;
	font-family: "DIN Condensed Bold";
	color:black;
	display: inline-block;
	padding:10px;
}

.Menu{
	position: fixed;
	top:0px;
	left:75px;
	font-family: "DIN Condensed Bold";
	color: black;
	display: inline-block;
	padding:10px; 
	font-size: 16px;
}

.LeftMenu a{
	text-decoration: none;
}

.RightMenu a{
	text-decoration: none;
}

.RequestInfo{
	position: fixed;
	display: table-cell;
	top: 275px;
	right:-40px;
	transform: rotate(-90deg);
	background-color: white;
}

.RequestInfo a{
	text-decoration: none;
}
#stamp{
	position: absolute;
	top: 50px;
	left:200px;
}
.Tag{
	position: absolute;
	top: 200px;
	left:200px;	
}
.Community{
  background-color:#BBB6B6;
  width: auto;
  height: 100vh;
  padding-top: 0px;
  margin-top: 0px;
}
.ourMenu{
  /*background-color: white;*/
  width: auto;
  height: 100vh;
  padding-top: 0px;
  margin-top: 0px;
  position: relative;
}
#center{
 width:0;
  height:100vh;
  color:#BCB6B6;
  border-style: solid;
  position:absolute;
  left: 50%; 
}
#left{
 width:0;
  height:100vh;
  color:#BCB6B6;
  border-style: solid;
  position:absolute;
  left: 25%; 
}
#right{
  width:0;
  height:100vh;
  color:#BCB6B6;
  border-style: solid;
  position:absolute;
  left: 75%; 
}
.menuHeader{
  text-decoration: line-through;
  text-decoration-color: #F8BBBB;
  font-size: 28px;
  margin-bottom:0px;
  font-family: "Gill Sans";
  font-weight: bold;
  position: absolute;
  left: 43%;
}
#knowMore{
   background-color: #F8BBBB;
   border: none;
   color: black;
   text-align: center;
   font-size: 14px;
   font-weight: bold;
   padding: 5px 10px;
   margin-top: 0px;
   position: relative;
   left: 45%;
   top:65px;
}
.menuCol4{
  width:200px;
  height:400px;
  position:absolute;
  left: 75%;
}
.menuCol3{
  left:50%;
}
.menuCol2{
  left:25%;
  transform: translateY(-200px);
}
.menuCol1{
  left:0%;
  transform: translateY(300px);
  /*position: absolute;*/
    /*top: -100%;*/
}
.d1{
  text-decoration: none;
  left:0%;
}
.itemD1{
  width:200px;
  height: 100px;
  position: absolute;
  top: 25%;
  margin-left: 40px;
}
.itemD2{
  top: 50%;
}
.itemD3{
  top: 75%;
}
.itemName{
  /*position: absolute;*/
  padding-top: 0px;
  margin-top: 0px;
  /*left: 15px;*/
}
#animate.menuCol1 {
  animation: moveUP 3s ease;
  animation-fill-mode: forwards;
  /*top: 0%;*/
}
#animate.menuCol3 {
  animation: moveUP1 3s ease;
  animation-fill-mode: forwards;
  /*top: 0%;*/
}
@keyframes moveUP {
  from {
     transform: translateY(300px);
   }
  to {
     transform: translateY(100px);
  }
}

@keyframes moveUP1 {
  from {
     transform: translateY(300px);
   }
  to {
     transform: translateY(150px);
  }
}
#animateDown.menuCol4L {
  animation: moveDown 3s ease;
  animation-fill-mode: forwards;
}
#animateDown {
  animation: moveDown1 3s ease;
  animation-fill-mode: forwards;
}

@keyframes moveDown {
  from {
     transform: translateY(-200px);
   }
  to {
     transform: translateY(100px);
  }
}


@keyframes moveDown1 {
  from {
     transform: translateY(-200px);
   }
  to {
     transform: translateY(200px);
  }
}

.ourMenu button {
    border: 2px solid #F8BBBB;
    background: transparent;
}