a{
	color:initial;
}

#logo{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 64px;
  height:64px;
}

.RightMenu{
	position: fixed;
	top:0px;
	right:0px;
	color:black;
	display: inline-block;
	padding:10px;
}

.Menu{
	position: fixed;
	top:0px;
	left:75px;
	color: black;
	display: inline-block;
	padding:10px; 
	font-size: 16px;
}
.LeftMenu li{
	padding: 15px;
}
.LeftMenu li{
	display: inline;
}
.LeftMenu a{
	text-decoration: none;
}
.RightMenu li{
	padding: 15px;
}
.RightMenu li{
	display: inline;
}
.RightMenu a{
	text-decoration: none;
}

.RequestInfo{
	position: fixed;
	display: table-cell;
	top: 275px;
	right:-40px;
	transform: rotate(-90deg);
	background-color: white;
}

.RequestInfo a{
	text-decoration: none;
	padding: 10px;
}
#stamp{
  position: absolute;
  top: 90px;
  left:260px;
}
.Tag{
	position: absolute;
	top: 200px;
	left:200px;	
}