
.community{
  background-color:#BBB6B6;
  width: auto;
  height: 100vh;
  padding-top: 0px;
  margin-top: 0px;
}
.ourMenu{
  width: auto;
  height: 100vh;
  padding-top: 0px;
  margin-top: 0px;
  position: relative;
}
#center{
 width:0;
  height:100vh;
  color:#BCB6B6;
  border: 1px solid #ccc;
  position:absolute;
  left: 50%; 
}
#left{
 width:0;
  height:100vh;
  color:#BCB6B6;
  border: 1px solid #ccc;
  position:absolute;
  left: 25%; 
}
#right{
  width:0;
  height:100vh;
  color:#BCB6B6;
  border: 1px solid #ccc;
  position:absolute;
  left: 75%; 
}
.menuHeader{
  text-decoration: line-through;
  text-decoration-color: #F8BBBB;
  font-size: 47px;
  margin-bottom:0px;
  font-weight: bold;
  position: absolute;
  left: 45%;
}
#knowMore{
   background-color: #F8BBBB;
   border: none;
   color: black;
   text-align: center;
   font-size: 14px;
   font-weight: bold;
   padding: 5px 10px;
   margin-top: 0px;
   position: relative;
   left: 46%;
   top:50px;
}
.menuCol4{
  width:200px;
  height:400px;
  position:absolute;
  left: 75%;
}
.menuCol3{
  left:50%;
}
.menuCol2{
  left:25%;
  transform: translateY(-200px);
}
.menuCol1{
  left:0%;
  transform: translateY(300px);
  /*position: absolute;*/
    /*top: -100%;*/
}
.d1{
  text-decoration: none;
  left:0%;
}
.itemD1{
  position: absolute;
  top: 25%;
  margin-left: 40px;
}
.itemD2{
  top: 50%;
}
.itemD3{
  top: 75%;
}
.itemName{
  /*position: absolute;*/
  padding-top: 0px;
  margin-top: 0px;
  /*left: 15px;*/
}
#animate.menuCol1 {
  animation: moveUP 3s ease;
  animation-fill-mode: forwards;
  /*top: 0%;*/
}
#animate.menuCol3 {
  animation: moveUP1 3s ease;
  animation-fill-mode: forwards;
  /*top: 0%;*/
}
@keyframes moveUP {
  from {
     transform: translateY(300px);
   }
  to {
     transform: translateY(100px);
  }
}

@keyframes moveUP1 {
  from {
     transform: translateY(300px);
   }
  to {
     transform: translateY(150px);
  }
}
#animateDown.menuCol4L {
  animation: moveDown 3s ease;
  animation-fill-mode: forwards;
}
#animateDown {
  animation: moveDown1 3s ease;
  animation-fill-mode: forwards;
}

@keyframes moveDown {
  from {
     transform: translateY(-200px);
   }
  to {
     transform: translateY(100px);
  }
}


@keyframes moveDown1 {
  from {
     transform: translateY(-200px);
   }
  to {
     transform: translateY(200px);
  }
}

.ourMenu button {
    border: 2px solid #F8BBBB;
    background: transparent;
}